#page {
    margin: 0; 
    position: absolute; 
    top: 40%; 
    left: 50%; 
    -ms-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%); 
    text-align: center;
}

/*
sets anchor colors to white
*/
a:link, a:visited, a:hover, a:focus, a:active {
    color: white;
}

/*
style for return button
*/
#return{
    background-color: #FF474C;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 14px;
}