/*
sets body colors
*/
body{
    background-color: #337ab7;
    color: white;
    margin: 0;
}

/*
Centers the title and sites
*/
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

/*puts space between top 
of sites and bottom of title
*/
#sites{
    margin-top: 20px;
}

.alert{
    color: #FF474C;
}

#sites a{
    padding: 15px;
    color: white;
    display: inline-block;
}

#sites a:link, a:visited, a:hover, a:focus, a:active {
    color: white;
}

#cred {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 15px;
}
