/*
set color for body elements
*/
body {
    background-color: #337ab7; 
    color: white;
} 

/*
align text to center for
details table and info
*/
details {
    text-align: center; 
    margin: auto;
}

table {
    text-align: center; 
    margin: auto;
}

#info{
    text-align: center;
}

/*
add padding around anchor elements
*/
#info a{
    padding: 15px;
}

/*
sets anchor colors to white
*/
a:link, a:visited, a:hover, a:focus, a:active {
    color: white;
}

/*
style for buttons
*/
button {
    background-color: #FF474C;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 14px;
}

/*
add space for each tableElement
*/
#tableElement{
    padding: 10px;
}