/*
set color for body elements
*/
body {
    background-color: #337ab7; 
    color: white;
} 

/*
align text to center for
details table and info
*/
details {
    text-align: center; 
    margin: auto;
}

table {
    text-align: center; 
    margin: auto;
}

#info{
    text-align: center;
}

/*
add padding around anchor elements
*/
#info a{
    padding: 15px;
}