/*
style for general page setup
*/
#page {
    margin: 0; 
    position: absolute; 
    top: 40%; 
    left: 50%; 
    -ms-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%); 
    text-align: center;
}

/*
style for return button
*/
#return {
    background-color: #FF474C;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 14px;
}

/*
style for checkboxes
*/
.checkboxes {
    padding-top: 10px;
}

.checkboxes label{
    margin-bottom: 10px;
}

/*
style for location
*/
#location{
    margin-top: 10px;
}